In [209]:
#Import required libraries
import pandas as pd
import numpy as np
import itertools

In [210]:
#Read the data from csv
mba_df=pd.read_csv("data1.csv")

In [211]:
#Head of the mba dataframe
mba_df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN

In [212]:
#Considering the first two hundred records
mba_df=mba_df[0:200]

In [213]:
#Handling of nan values and droping item(s) column
mba_df=mba_df.drop(columns={'Item(s)'})

In [214]:
#Handling nan values
mba_df=mba_df.fillna(0)

In [215]:
#Head of new dataframe after filling nan with 0
mba_df.head()

,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7
0,citrus fruit,semi-finished bread,margarine,ready soups,0,0,0
1,tropical fruit,yogurt,coffee,0,0,0,0
2,whole milk,0,0,0,0,0,0
3,pip fruit,yogurt,cream cheese,meat spreads,0,0,0
4,other vegetables,whole milk,condensed milk,long life bakery product,0,0,0

In [216]:
#Generating the single item set
one_itemset=list()
row_count,column_count=mba_df.shape
for i in range(row_count):
    for j in range(column_count):
        if mba_df.iloc[i][j] is not 0:
             if mba_df.iloc[i][j] not in one_itemset: #Unique items not in list is appended
                    one_itemset.append(mba_df.iloc[i][j])

In [217]:
#Count of number of unique itemset
len(one_itemset)

113

In [218]:
#Calculating the count of single item set
single_itemset={}
#Intializing all the count to zero
for item in one_itemset:
    single_itemset[item]=0
for i in range(row_count):
    for j in range(column_count):
        if mba_df.iloc[i][j] is not 0:
              single_itemset[mba_df.iloc[i][j]]+=1

In [219]:
#Defining minimum support count
min_sup=4
infrqt_items=list()
#eleminating all the items less than the support count i.e candidate pruning
for key,value in single_itemset.items():
    if value <= min_sup:#If candidate count is less than count then the item is removed
        infrqt_items.append(key)
for key in infrqt_items:
    del single_itemset[key]

In [220]:
single_df=pd.DataFrame()
single_df['Items']=single_itemset.keys()
single_df['Count']=single_itemset.values()

In [221]:
#Final single frequent item set
single_df

                        Items  Count
0                citrus fruit     16
1                   margarine      9
2              tropical fruit     21
3                      yogurt     21
4                      coffee     10
5                  whole milk     53
6                   pip fruit      7
7                cream cheese      8
8            other vegetables     37
9                      butter      8
10                 rolls/buns     38
11               bottled beer      9
12              bottled water     18
13                  chocolate      6
14                       curd     12
15                      flour      5
16                       beef      8
17                frankfurter     16
18                       soda     28
19                      sugar      8
20      fruit/vegetable juice     10
21                 newspapers      9
22  packaged fruit/vegetables      5
23              specialty bar      6
24                butter milk      7
25                     pastry     13
26                  detergent      8
27            root vegetables     15
28                canned beer     15
29                    sausage     18
30                brown bread     11
31              shopping bags     10
32                  beverages      5
33             hamburger meat      7
34                       pork      6
35                    berries     11
36         whipped/sour cream      7
37                     grapes      5
38                    dessert     10
39              domestic eggs      5
40                        ham      6
41                        oil      6
42          frozen vegetables     11
43             red/blush wine      5

In [222]:
#Generate all posiible two frequent item set
twoitem_df=pd.DataFrame(list(itertools.combinations(single_df['Items'], 2)))

In [223]:
#Renaming the columns to respective values
twoitem_df=twoitem_df.rename(columns={0:'Item1',1:'Item2'})

In [224]:
#Candidte two item set
twoitem_df

                 Item1              Item2
0         citrus fruit          margarine
1         citrus fruit     tropical fruit
2         citrus fruit             yogurt
3         citrus fruit             coffee
4         citrus fruit         whole milk
..                 ...                ...
941                ham  frozen vegetables
942                ham     red/blush wine
943                oil  frozen vegetables
944                oil     red/blush wine
945  frozen vegetables     red/blush wine

[946 rows x 2 columns]

In [225]:
#Initailizing the dict to generate the count of two candidate itemset
twoitem_set={}
for i in range(len(twoitem_df)):
    twoitem_set[i]=0

In [226]:
#Checking the count of two item set
for key in twoitem_set.keys():
    for j in range(len(mba_df)):
             if set(twoitem_df.loc[key]).issubset(set(mba_df.loc[j])):
                twoitem_set[key]+=1

In [227]:
#Count of all transactions,i.e transaction or index mapped with count
twoitem_set

{0: 3,
 1: 4,
 2: 2,
 3: 0,
 4: 4,
 5: 1,
 6: 2,
 7: 1,
 8: 3,
 9: 1,
 10: 0,
 11: 1,
 12: 0,
 13: 2,
 14: 1,
 15: 1,
 16: 3,
 17: 0,
 18: 1,
 19: 0,
 20: 2,
 21: 0,
 22: 0,
 23: 2,
 24: 1,
 25: 1,
 26: 2,
 27: 0,
 28: 2,
 29: 1,
 30: 0,
 31: 0,
 32: 3,
 33: 2,
 34: 3,
 35: 1,
 36: 0,
 37: 1,
 38: 1,
 39: 0,
 40: 2,
 41: 0,
 42: 0,
 43: 1,
 44: 0,
 45: 1,
 46: 5,
 47: 0,
 48: 1,
 49: 1,
 50: 2,
 51: 3,
 52: 0,
 53: 1,
 54: 0,
 55: 0,
 56: 0,
 57: 0,
 58: 3,
 59: 0,
 60: 1,
 61: 0,
 62: 1,
 63: 0,
 64: 0,
 65: 0,
 66: 1,
 67: 0,
 68: 1,
 69: 0,
 70: 1,
 71: 0,
 72: 1,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 1,
 80: 1,
 81: 0,
 82: 2,
 83: 2,
 84: 1,
 85: 4,
 86: 2,
 87: 9,
 88: 4,
 89: 1,
 90: 8,
 91: 2,
 92: 3,
 93: 0,
 94: 2,
 95: 1,
 96: 2,
 97: 2,
 98: 0,
 99: 4,
 100: 0,
 101: 1,
 102: 1,
 103: 1,
 104: 1,
 105: 0,
 106: 0,
 107: 1,
 108: 1,
 109: 4,
 110: 0,
 111: 1,
 112: 4,
 113: 1,
 114: 0,
 115: 1,
 116: 0,
 117: 1,
 118: 0,
 119: 0,
 120: 0,
 121: 2,
 122: 2,
 123: 0,
 124: 0,
 125: 0,
 126: 2,
 127: 10,
 128: 1,
 129: 3,
 130: 2,
 131: 2,
 132: 2,
 133: 1,
 134: 2,
 135: 0,
 136: 3,
 137: 1,
 138: 0,
 139: 0,
 140: 3,
 141: 0,
 142: 1,
 143: 0,
 144: 0,
 145: 1,
 146: 3,
 147: 2,
 148: 2,
 149: 3,
 150: 0,
 151: 2,
 152: 3,
 153: 1,
 154: 3,
 155: 0,
 156: 0,
 157: 2,
 158: 0,
 159: 1,
 160: 1,
 161: 1,
 162: 0,
 163: 0,
 164: 1,
 165: 0,
 166: 1,
 167: 0,
 168: 0,
 169: 2,
 170: 0,
 171: 0,
 172: 1,
 173: 0,
 174: 0,
 175: 0,
 176: 0,
 177: 0,
 178: 0,
 179: 0,
 180: 0,
 181: 1,
 182: 1,
 183: 0,
 184: 0,
 185: 0,
 186: 1,
 187: 0,
 188: 0,
 189: 0,
 190: 2,
 191: 0,
 192: 1,
 193: 0,
 194: 0,
 195: 0,
 196: 0,
 197: 0,
 198: 0,
 199: 0,
 200: 0,
 201: 0,
 202: 0,
 203: 0,
 204: 0,
 205: 4,
 206: 2,
 207: 14,
 208: 4,
 209: 11,
 210: 2,
 211: 2,
 212: 1,
 213: 4,
 214: 1,
 215: 2,
 216: 6,
 217: 8,
 218: 3,
 219: 2,
 220: 0,
 221: 1,
 222: 0,
 223: 1,
 224: 5,
 225: 1,
 226: 8,
 227: 0,
 228: 6,
 229: 5,
 230: 3,
 231: 3,
 232: 3,
 233: 2,
 234: 3,
 235: 2,
 236: 2,
 237: 4,
 238: 4,
 239: 5,
 240: 2,
 241: 8,
 242: 1,
 243: 1,
 244: 2,
 245: 0,
 246: 1,
 247: 0,
 248: 0,
 249: 0,
 250: 0,
 251: 0,
 252: 1,
 253: 3,
 254: 0,
 255: 0,
 256: 0,
 257: 0,
 258: 0,
 259: 0,
 260: 0,
 261: 0,
 262: 0,
 263: 1,
 264: 0,
 265: 1,
 266: 0,
 267: 0,
 268: 0,
 269: 0,
 270: 1,
 271: 1,
 272: 0,
 273: 0,
 274: 0,
 275: 0,
 276: 2,
 277: 0,
 278: 1,
 279: 0,
 280: 0,
 281: 1,
 282: 1,
 283: 0,
 284: 1,
 285: 0,
 286: 1,
 287: 0,
 288: 0,
 289: 0,
 290: 2,
 291: 0,
 292: 0,
 293: 2,
 294: 0,
 295: 1,
 296: 2,
 297: 0,
 298: 1,
 299: 0,
 300: 0,
 301: 0,
 302: 0,
 303: 1,
 304: 0,
 305: 0,
 306: 0,
 307: 0,
 308: 0,
 309: 0,
 310: 0,
 311: 0,
 312: 0,
 313: 1,
 314: 0,
 315: 0,
 316: 2,
 317: 5,
 318: 2,
 319: 4,
 320: 2,
 321: 3,
 322: 1,
 323: 0,
 324: 3,
 325: 2,
 326: 2,
 327: 1,
 328: 0,
 329: 1,
 330: 0,
 331: 0,
 332: 1,
 333: 1,
 334: 8,
 335: 1,
 336: 1,
 337: 2,
 338: 2,
 339: 2,
 340: 3,
 341: 2,
 342: 1,
 343: 3,
 344: 2,
 345: 2,
 346: 2,
 347: 4,
 348: 1,
 349: 5,
 350: 1,
 351: 1,
 352: 0,
 353: 0,
 354: 0,
 355: 2,
 356: 1,
 357: 0,
 358: 0,
 359: 0,
 360: 1,
 361: 1,
 362: 2,
 363: 0,
 364: 0,
 365: 0,
 366: 0,
 367: 0,
 368: 2,
 369: 0,
 370: 0,
 371: 0,
 372: 0,
 373: 0,
 374: 1,
 375: 0,
 376: 0,
 377: 1,
 378: 0,
 379: 1,
 380: 0,
 381: 0,
 382: 1,
 383: 0,
 384: 0,
 385: 2,
 386: 7,
 387: 1,
 388: 0,
 389: 1,
 390: 1,
 391: 7,
 392: 8,
 393: 4,
 394: 2,
 395: 1,
 396: 0,
 397: 1,
 398: 2,
 399: 3,
 400: 1,
 401: 4,
 402: 3,
 403: 9,
 404: 2,
 405: 1,
 406: 0,
 407: 3,
 408: 1,
 409: 1,
 410: 2,
 411: 1,
 412: 2,
 413: 1,
 414: 2,
 415: 3,
 416: 3,
 417: 2,
 418: 2,
 419: 0,
 420: 0,
 421: 1,
 422: 0,
 423: 0,
 424: 2,
 425: 1,
 426: 2,
 427: 0,
 428: 0,
 429: 0,
 430: 0,
 431: 0,
 432: 0,
 433: 0,
 434: 0,
 435: 2,
 436: 0,
 437: 0,
 438: 0,
 439: 1,
 440: 0,
 441: 0,
 442: 0,
 443: 0,
 444: 0,
 445: 0,
 446: 0,
 447: 0,
 448: 2,
 449: 0,
 450: 1,
 451: 0,
 452: 1,
 453: 0,
 454: 1,
 455: 3,
 456: 2,
 457: 1,
 458: 0,
 459: 1,
 460: 1,
 461: 1,
 462: 1,
 463: 0,
 464: 0,
 465: 1,
 466: 0,
 467: 0,
 468: 1,
 469: 1,
 470: 2,
 471: 0,
 472: 0,
 473: 0,
 474: 0,
 475: 1,
 476: 0,
 477: 0,
 478: 1,
 479: 1,
 480: 1,
 481: 1,
 482: 0,
 483: 0,
 484: 0,
 485: 2,
 486: 0,
 487: 0,
 488: 0,
 489: 0,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 0,
 495: 0,
 496: 1,
 497: 0,
 498: 1,
 499: 0,
 500: 0,
 501: 0,
 502: 0,
 503: 0,
 504: 0,
 505: 1,
 506: 0,
 507: 0,
 508: 0,
 509: 0,
 510: 0,
 511: 2,
 512: 0,
 513: 0,
 514: 1,
 515: 0,
 516: 0,
 517: 0,
 518: 0,
 519: 1,
 520: 2,
 521: 2,
 522: 1,
 523: 1,
 524: 0,
 525: 1,
 526: 1,
 527: 2,
 528: 0,
 529: 0,
 530: 0,
 531: 0,
 532: 1,
 533: 1,
 534: 2,
 535: 1,
 536: 0,
 537: 0,
 538: 0,
 539: 0,
 540: 1,
 541: 0,
 542: 0,
 543: 0,
 544: 1,
 545: 0,
 546: 0,
 547: 0,
 548: 0,
 549: 0,
 550: 0,
 551: 1,
 552: 0,
 553: 0,
 554: 0,
 555: 0,
 556: 0,
 557: 0,
 558: 0,
 559: 0,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 0,
 565: 0,
 566: 0,
 567: 0,
 568: 0,
 569: 0,
 570: 0,
 571: 0,
 572: 0,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 577: 2,
 578: 2,
 579: 0,
 580: 1,
 581: 2,
 582: 0,
 583: 0,
 584: 0,
 585: 1,
 586: 2,
 587: 1,
 588: 1,
 589: 1,
 590: 0,
 591: 1,
 592: 0,
 593: 0,
 594: 0,
 595: 2,
 596: 2,
 597: 0,
 598: 0,
 599: 0,
 600: 0,
 601: 0,
 602: 0,
 603: 0,
 604: 2,
 605: 0,
 606: 4,
 607: 1,
 608: 1,
 609: 0,
 610: 0,
 611: 0,
 612: 0,
 613: 0,
 614: 0,
 615: 1,
 616: 1,
 617: 2,
 618: 2,
 619: 1,
 620: 0,
 621: 2,
 622: 1,
 623: 1,
 624: 0,
 625: 1,
 626: 2,
 627: 4,
 628: 1,
 629: 0,
 630: 2,
 631: 3,
 632: 1,
 633: 2,
 634: 1,
 635: 1,
 636: 2,
 637: 2,
 638: 2,
 639: 1,
 640: 1,
 641: 1,
 642: 0,
 643: 0,
 644: 1,
 645: 0,
 646: 1,
 647: 1,
 648: 0,
 649: 0,
 650: 0,
 651: 1,
 652: 0,
 653: 1,
 654: 0,
 655: 0,
 656: 1,
 657: 0,
 658: 1,
 659: 0,
 660: 0,
 661: 0,
 662: 0,
 663: 0,
 664: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 0,
 670: 2,
 671: 0,
 672: 0,
 673: 0,
 674: 0,
 675: 0,
 676: 0,
 677: 2,
 678: 2,
 679: 3,
 680: 1,
 681: 0,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 0,
 689: 1,
 690: 0,
 691: 0,
 692: 1,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 1,
 698: 0,
 699: 1,
 700: 1,
 701: 1,
 702: 1,
 703: 0,
 704: 0,
 705: 0,
 706: 0,
 707: 0,
 708: 0,
 709: 0,
 710: 0,
 711: 0,
 712: 1,
 713: 0,
 714: 1,
 715: 0,
 716: 0,
 717: 0,
 718: 0,
 719: 0,
 720: 2,
 721: 0,
 722: 1,
 723: 0,
 724: 0,
 725: 0,
 726: 0,
 727: 0,
 728: 0,
 729: 0,
 730: 1,
 731: 0,
 732: 0,
 733: 0,
 734: 0,
 735: 0,
 736: 0,
 737: 0,
 738: 0,
 739: 0,
 740: 1,
 741: 1,
 742: 0,
 743: 2,
 744: 1,
 745: 0,
 746: 0,
 747: 0,
 748: 0,
 749: 0,
 750: 0,
 751: 0,
 752: 0,
 753: 0,
 754: 0,
 755: 0,
 756: 2,
 757: 1,
 758: 0,
 759: 0,
 760: 1,
 761: 0,
 762: 0,
 763: 0,
 764: 0,
 765: 0,
 766: 0,
 767: 0,
 768: 0,
 769: 0,
 770: 0,
 771: 0,
 772: 0,
 773: 0,
 774: 0,
 775: 0,
 776: 1,
 777: 0,
 778: 2,
 779: 1,
 780: 0,
 781: 0,
 782: 0,
 783: 1,
 784: 0,
 785: 0,
 786: 1,
 787: 0,
 788: 1,
 789: 0,
 790: 0,
 791: 0,
 792: 0,
 793: 2,
 794: 0,
 795: 1,
 796: 1,
 797: 1,
 798: 0,
 799: 0,
 800: 0,
 801: 1,
 802: 0,
 803: 1,
 804: 0,
 805: 0,
 806: 0,
 807: 0,
 808: 1,
 809: 0,
 810: 0,
 811: 2,
 812: 3,
 813: 0,
 814: 2,
 815: 2,
 816: 0,
 817: 2,
 818: 1,
 819: 0,
 820: 2,
 821: 2,
 822: 1,
 823: 2,
 824: 3,
 825: 0,
 826: 2,
 827: 3,
 828: 2,
 829: 0,
 830: 0,
 831: 0,
 832: 0,
 833: 0,
 834: 0,
 835: 1,
 836: 0,
 837: 0,
 838: 0,
 839: 0,
 840: 1,
 841: 1,
 842: 1,
 843: 0,
 844: 0,
 845: 2,
 846: 0,
 847: 0,
 848: 1,
 849: 1,
 850: 0,
 851: 0,
 852: 1,
 853: 0,
 854: 1,
 855: 2,
 856: 1,
 857: 0,
 858: 0,
 859: 2,
 860: 0,
 861: 0,
 862: 1,
 863: 2,
 864: 1,
 865: 0,
 866: 0,
 867: 1,
 868: 1,
 869: 0,
 870: 0,
 871: 0,
 872: 0,
 873: 0,
 874: 0,
 875: 0,
 876: 0,
 877: 0,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 0,
 883: 0,
 884: 0,
 885: 0,
 886: 0,
 887: 0,
 888: 0,
 889: 1,
 890: 0,
 891: 1,
 892: 1,
 893: 1,
 894: 0,
 895: 0,
 896: 1,
 897: 0,
 898: 0,
 899: 2,
 900: 0,
 901: 2,
 902: 3,
 903: 1,
 904: 1,
 905: 0,
 906: 0,
 907: 0,
 908: 0,
 909: 0,
 910: 3,
 911: 0,
 912: 1,
 913: 0,
 914: 0,
 915: 0,
 916: 0,
 917: 0,
 918: 0,
 919: 0,
 920: 0,
 921: 1,
 922: 0,
 923: 0,
 924: 0,
 925: 1,
 926: 0,
 927: 1,
 928: 0,
 929: 0,
 930: 0,
 931: 0,
 932: 0,
 933: 0,
 934: 1,
 935: 1,
 936: 0,
 937: 2,
 938: 2,
 939: 0,
 940: 0,
 941: 1,
 942: 0,
 943: 2,
 944: 0,
 945: 1}

In [228]:
#Pruning of itemset with count less than min supcount
infrqt_items=[]
min_sup=4
for key,value in twoitem_set.items():
    if value < min_sup:
        infrqt_items.append(key)
for key in infrqt_items:
    del twoitem_set[key]

In [229]:
#Two itemset with index and count
twoitem_set

{1: 4,
 4: 4,
 46: 5,
 85: 4,
 87: 9,
 88: 4,
 90: 8,
 99: 4,
 109: 4,
 112: 4,
 127: 10,
 205: 4,
 207: 14,
 208: 4,
 209: 11,
 213: 4,
 216: 6,
 217: 8,
 224: 5,
 226: 8,
 228: 6,
 229: 5,
 237: 4,
 238: 4,
 239: 5,
 241: 8,
 317: 5,
 319: 4,
 334: 8,
 347: 4,
 349: 5,
 386: 7,
 391: 7,
 392: 8,
 393: 4,
 401: 4,
 403: 9,
 606: 4,
 627: 4}

In [244]:
#Creating of two frequent itemset
two_df=pd.DataFrame()
for index in twoitem_set.keys():
    row = twoitem_df.loc[ [index] ,: ]
    two_df=two_df.append(row)

In [245]:
#Two frequent itemset
two_df

                Item1              Item2
1        citrus fruit     tropical fruit
4        citrus fruit         whole milk
46          margarine         whole milk
85     tropical fruit             yogurt
87     tropical fruit         whole milk
88     tropical fruit          pip fruit
90     tropical fruit   other vegetables
99     tropical fruit        frankfurter
109    tropical fruit    root vegetables
112    tropical fruit        brown bread
127            yogurt         whole milk
205        whole milk          pip fruit
207        whole milk   other vegetables
208        whole milk             butter
209        whole milk         rolls/buns
213        whole milk               curd
216        whole milk        frankfurter
217        whole milk               soda
224        whole milk             pastry
226        whole milk    root vegetables
228        whole milk            sausage
229        whole milk        brown bread
237        whole milk            dessert
238        whole milk      domestic eggs
239        whole milk                ham
241        whole milk  frozen vegetables
317  other vegetables         rolls/buns
319  other vegetables      bottled water
334  other vegetables    root vegetables
347  other vegetables                ham
349  other vegetables  frozen vegetables
386        rolls/buns      bottled water
391        rolls/buns        frankfurter
392        rolls/buns               soda
393        rolls/buns              sugar
401        rolls/buns    root vegetables
403        rolls/buns            sausage
606       frankfurter            sausage
627              soda             pastry

In [232]:
#Creating three item set using Fk-1*F1 method
threeitem_set=[]
for key in twoitem_set.keys():
    for j in range(len(single_df)):
        subList=[]
        if(two_df.loc[key].Item1.find(single_df.loc[j].Items)==-1 and two_df.loc[key].Item2.find(single_df.loc[j].Items)==-1):
            subList=[two_df.loc[key].Item1,two_df.loc[key].Item2,single_df.loc[j].Items]
            threeitem_set.append(subList)

In [233]:
#Three itemset
three_df=pd.DataFrame(threeitem_set)

In [234]:
#Three itemset
three_df

                 0               1                  2
0     citrus fruit  tropical fruit          margarine
1     citrus fruit  tropical fruit             yogurt
2     citrus fruit  tropical fruit             coffee
3     citrus fruit  tropical fruit         whole milk
4     citrus fruit  tropical fruit          pip fruit
...            ...             ...                ...
1633          soda          pastry      domestic eggs
1634          soda          pastry                ham
1635          soda          pastry                oil
1636          soda          pastry  frozen vegetables
1637          soda          pastry     red/blush wine

[1638 rows x 3 columns]

In [235]:
threeitem_set={}
for i in range(len(three_df)):
    threeitem_set[i]=0

In [236]:
#Checking the count of three item set
for key in threeitem_set.keys():
    for j in range(len(mba_df)):
             if set(three_df.loc[key]).issubset(set(mba_df.loc[j])):
                threeitem_set[key]+=1

In [237]:
#Three itemset count
threeitem_set

{0: 0,
 1: 1,
 2: 0,
 3: 2,
 4: 1,
 5: 0,
 6: 1,
 7: 2,
 8: 0,
 9: 0,
 10: 0,
 11: 0,
 12: 1,
 13: 1,
 14: 0,
 15: 1,
 16: 0,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 1,
 26: 0,
 27: 1,
 28: 0,
 29: 0,
 30: 0,
 31: 1,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 0,
 39: 0,
 40: 0,
 41: 0,
 42: 0,
 43: 2,
 44: 1,
 45: 0,
 46: 1,
 47: 0,
 48: 0,
 49: 1,
 50: 0,
 51: 0,
 52: 0,
 53: 0,
 54: 2,
 55: 1,
 56: 0,
 57: 2,
 58: 0,
 59: 0,
 60: 0,
 61: 0,
 62: 0,
 63: 0,
 64: 1,
 65: 1,
 66: 0,
 67: 0,
 68: 0,
 69: 1,
 70: 0,
 71: 0,
 72: 0,
 73: 0,
 74: 0,
 75: 0,
 76: 0,
 77: 0,
 78: 0,
 79: 1,
 80: 0,
 81: 1,
 82: 0,
 83: 0,
 84: 0,
 85: 1,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 0,
 91: 1,
 92: 3,
 93: 0,
 94: 1,
 95: 0,
 96: 0,
 97: 0,
 98: 0,
 99: 2,
 100: 0,
 101: 0,
 102: 0,
 103: 0,
 104: 0,
 105: 0,
 106: 0,
 107: 0,
 108: 0,
 109: 1,
 110: 0,
 111: 1,
 112: 0,
 113: 1,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 0,
 120: 1,
 121: 1,
 122: 0,
 123: 1,
 124: 2,
 125: 1,
 126: 1,
 127: 0,
 128: 1,
 129: 3,
 130: 0,
 131: 0,
 132: 0,
 133: 1,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 1,
 139: 1,
 140: 0,
 141: 0,
 142: 0,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 0,
 148: 0,
 149: 1,
 150: 0,
 151: 1,
 152: 0,
 153: 0,
 154: 1,
 155: 0,
 156: 0,
 157: 0,
 158: 0,
 159: 0,
 160: 0,
 161: 0,
 162: 0,
 163: 1,
 164: 0,
 165: 0,
 166: 0,
 167: 0,
 168: 2,
 169: 1,
 170: 3,
 171: 0,
 172: 3,
 173: 0,
 174: 3,
 175: 1,
 176: 1,
 177: 0,
 178: 0,
 179: 0,
 180: 1,
 181: 1,
 182: 0,
 183: 3,
 184: 0,
 185: 0,
 186: 1,
 187: 0,
 188: 1,
 189: 0,
 190: 0,
 191: 1,
 192: 0,
 193: 2,
 194: 0,
 195: 1,
 196: 2,
 197: 1,
 198: 0,
 199: 0,
 200: 0,
 201: 1,
 202: 0,
 203: 0,
 204: 0,
 205: 1,
 206: 2,
 207: 0,
 208: 0,
 209: 0,
 210: 1,
 211: 0,
 212: 0,
 213: 0,
 214: 3,
 215: 0,
 216: 1,
 217: 0,
 218: 1,
 219: 0,
 220: 0,
 221: 0,
 222: 0,
 223: 0,
 224: 0,
 225: 2,
 226: 0,
 227: 0,
 228: 0,
 229: 0,
 230: 0,
 231: 0,
 232: 0,
 233: 0,
 234: 0,
 235: 1,
 236: 0,
 237: 1,
 238: 0,
 239: 0,
 240: 0,
 241: 0,
 242: 0,
 243: 1,
 244: 0,
 245: 0,
 246: 0,
 247: 0,
 248: 1,
 249: 0,
 250: 0,
 251: 0,
 252: 1,
 253: 0,
 254: 0,
 255: 1,
 256: 3,
 257: 1,
 258: 0,
 259: 1,
 260: 1,
 261: 0,
 262: 1,
 263: 1,
 264: 1,
 265: 1,
 266: 0,
 267: 1,
 268: 0,
 269: 0,
 270: 1,
 271: 0,
 272: 1,
 273: 0,
 274: 0,
 275: 0,
 276: 0,
 277: 3,
 278: 0,
 279: 0,
 280: 2,
 281: 0,
 282: 0,
 283: 1,
 284: 0,
 285: 0,
 286: 0,
 287: 0,
 288: 0,
 289: 1,
 290: 2,
 291: 0,
 292: 0,
 293: 0,
 294: 1,
 295: 1,
 296: 0,
 297: 0,
 298: 3,
 299: 2,
 300: 0,
 301: 1,
 302: 0,
 303: 1,
 304: 0,
 305: 0,
 306: 0,
 307: 0,
 308: 0,
 309: 0,
 310: 0,
 311: 1,
 312: 0,
 313: 0,
 314: 0,
 315: 0,
 316: 0,
 317: 0,
 318: 0,
 319: 1,
 320: 0,
 321: 1,
 322: 1,
 323: 1,
 324: 0,
 325: 0,
 326: 0,
 327: 0,
 328: 0,
 329: 0,
 330: 0,
 331: 0,
 332: 1,
 333: 0,
 334: 0,
 335: 0,
 336: 1,
 337: 0,
 338: 1,
 339: 0,
 340: 2,
 341: 1,
 342: 0,
 343: 3,
 344: 1,
 345: 1,
 346: 0,
 347: 0,
 348: 0,
 349: 0,
 350: 1,
 351: 0,
 352: 1,
 353: 0,
 354: 0,
 355: 0,
 356: 0,
 357: 0,
 358: 0,
 359: 0,
 360: 1,
 361: 0,
 362: 0,
 363: 0,
 364: 1,
 365: 0,
 366: 0,
 367: 1,
 368: 0,
 369: 0,
 370: 0,
 371: 0,
 372: 0,
 373: 1,
 374: 1,
 375: 0,
 376: 0,
 377: 0,
 378: 0,
 379: 0,
 380: 1,
 381: 0,
 382: 2,
 383: 0,
 384: 0,
 385: 2,
 386: 0,
 387: 1,
 388: 0,
 389: 0,
 390: 0,
 391: 1,
 392: 0,
 393: 0,
 394: 1,
 395: 0,
 396: 1,
 397: 1,
 398: 0,
 399: 0,
 400: 0,
 401: 0,
 402: 1,
 403: 0,
 404: 1,
 405: 0,
 406: 0,
 407: 0,
 408: 0,
 409: 0,
 410: 0,
 411: 0,
 412: 0,
 413: 0,
 414: 0,
 415: 2,
 416: 1,
 417: 0,
 418: 0,
 419: 0,
 420: 1,
 421: 0,
 422: 3,
 423: 1,
 424: 0,
 425: 0,
 426: 1,
 427: 2,
 428: 0,
 429: 1,
 430: 0,
 431: 0,
 432: 2,
 433: 1,
 434: 0,
 435: 0,
 436: 1,
 437: 0,
 438: 1,
 439: 0,
 440: 0,
 441: 0,
 442: 0,
 443: 2,
 444: 0,
 445: 2,
 446: 0,
 447: 1,
 448: 3,
 449: 1,
 450: 2,
 451: 0,
 452: 0,
 453: 0,
 454: 0,
 455: 0,
 456: 0,
 457: 1,
 458: 0,
 459: 0,
 460: 1,
 461: 0,
 462: 1,
 463: 0,
 464: 3,
 465: 0,
 466: 0,
 467: 0,
 468: 2,
 469: 0,
 470: 1,
 471: 0,
 472: 0,
 473: 0,
 474: 0,
 475: 0,
 476: 0,
 477: 3,
 478: 0,
 479: 0,
 480: 0,
 481: 0,
 482: 0,
 483: 0,
 484: 0,
 485: 0,
 486: 0,
 487: 1,
 488: 0,
 489: 1,
 490: 0,
 491: 0,
 492: 0,
 493: 0,
 494: 0,
 495: 1,
 496: 0,
 497: 0,
 498: 0,
 499: 0,
 500: 2,
 501: 0,
 502: 1,
 503: 0,
 504: 0,
 505: 0,
 506: 3,
 507: 1,
 508: 0,
 509: 2,
 510: 0,
 511: 0,
 512: 1,
 513: 0,
 514: 0,
 515: 1,
 516: 0,
 517: 0,
 518: 0,
 519: 2,
 520: 2,
 521: 2,
 522: 1,
 523: 0,
 524: 1,
 525: 0,
 526: 0,
 527: 0,
 528: 1,
 529: 4,
 530: 0,
 531: 0,
 532: 1,
 533: 1,
 534: 2,
 535: 1,
 536: 1,
 537: 1,
 538: 1,
 539: 1,
 540: 1,
 541: 1,
 542: 4,
 543: 0,
 544: 4,
 545: 0,
 546: 1,
 547: 1,
 548: 1,
 549: 2,
 550: 0,
 551: 0,
 552: 0,
 553: 0,
 554: 1,
 555: 0,
 556: 0,
 557: 0,
 558: 1,
 559: 1,
 560: 0,
 561: 0,
 562: 0,
 563: 0,
 564: 0,
 565: 0,
 566: 0,
 567: 0,
 568: 0,
 569: 0,
 570: 0,
 571: 0,
 572: 0,
 573: 0,
 574: 0,
 575: 0,
 576: 0,
 577: 0,
 578: 0,
 579: 0,
 580: 0,
 581: 0,
 582: 1,
 583: 0,
 584: 0,
 585: 0,
 586: 0,
 587: 0,
 588: 0,
 589: 3,
 590: 1,
 591: 0,
 592: 0,
 593: 1,
 594: 0,
 595: 1,
 596: 1,
 597: 1,
 598: 2,
 599: 0,
 600: 0,
 601: 0,
 602: 0,
 603: 1,
 604: 3,
 605: 2,
 606: 0,
 607: 0,
 608: 0,
 609: 0,
 610: 0,
 611: 1,
 612: 0,
 613: 1,
 614: 0,
 615: 2,
 616: 0,
 617: 0,
 618: 0,
 619: 1,
 620: 1,
 621: 1,
 622: 1,
 623: 1,
 624: 2,
 625: 1,
 626: 1,
 627: 1,
 628: 3,
 629: 1,
 630: 2,
 631: 0,
 632: 1,
 633: 2,
 634: 0,
 635: 0,
 636: 0,
 637: 0,
 638: 1,
 639: 0,
 640: 0,
 641: 0,
 642: 0,
 643: 1,
 644: 0,
 645: 0,
 646: 0,
 647: 0,
 648: 0,
 649: 0,
 650: 0,
 651: 0,
 652: 1,
 653: 2,
 654: 0,
 655: 0,
 656: 0,
 657: 1,
 658: 0,
 659: 0,
 660: 0,
 661: 0,
 662: 0,
 663: 0,
 664: 0,
 665: 0,
 666: 0,
 667: 0,
 668: 0,
 669: 0,
 670: 0,
 671: 0,
 672: 2,
 673: 2,
 674: 3,
 675: 0,
 676: 0,
 677: 3,
 678: 0,
 679: 2,
 680: 0,
 681: 1,
 682: 0,
 683: 0,
 684: 0,
 685: 0,
 686: 0,
 687: 0,
 688: 0,
 689: 0,
 690: 0,
 691: 0,
 692: 0,
 693: 0,
 694: 0,
 695: 0,
 696: 0,
 697: 1,
 698: 0,
 699: 2,
 700: 0,
 701: 1,
 702: 0,
 703: 0,
 704: 0,
 705: 0,
 706: 0,
 707: 0,
 708: 0,
 709: 1,
 710: 2,
 711: 1,
 712: 1,
 713: 0,
 714: 0,
 715: 0,
 716: 0,
 717: 1,
 718: 0,
 719: 0,
 720: 1,
 721: 2,
 722: 0,
 723: 3,
 724: 0,
 725: 1,
 726: 0,
 727: 0,
 728: 0,
 729: 0,
 730: 0,
 731: 1,
 732: 0,
 733: 0,
 734: 0,
 735: 0,
 736: 0,
 737: 1,
 738: 0,
 739: 0,
 740: 0,
 741: 1,
 742: 0,
 743: 0,
 744: 0,
 745: 1,
 746: 2,
 747: 1,
 748: 2,
 749: 1,
 750: 0,
 751: 1,
 752: 0,
 753: 0,
 754: 1,
 755: 0,
 756: 1,
 757: 0,
 758: 1,
 759: 2,
 760: 0,
 761: 0,
 762: 0,
 763: 0,
 764: 0,
 765: 1,
 766: 0,
 767: 0,
 768: 0,
 769: 2,
 770: 0,
 771: 0,
 772: 0,
 773: 1,
 774: 0,
 775: 0,
 776: 0,
 777: 0,
 778: 0,
 779: 1,
 780: 0,
 781: 1,
 782: 0,
 783: 1,
 784: 1,
 785: 0,
 786: 0,
 787: 0,
 788: 1,
 789: 0,
 790: 0,
 791: 1,
 792: 0,
 793: 1,
 794: 0,
 795: 0,
 796: 0,
 797: 0,
 798: 0,
 799: 1,
 800: 2,
 801: 2,
 802: 0,
 803: 1,
 804: 0,
 805: 4,
 806: 0,
 807: 1,
 808: 0,
 809: 0,
 810: 0,
 811: 0,
 812: 0,
 813: 1,
 814: 1,
 815: 0,
 816: 1,
 817: 0,
 818: 0,
 819: 0,
 820: 0,
 821: 0,
 822: 1,
 823: 0,
 824: 0,
 825: 0,
 826: 2,
 827: 0,
 828: 2,
 829: 1,
 830: 0,
 831: 1,
 832: 0,
 833: 0,
 834: 2,
 835: 2,
 836: 1,
 837: 1,
 838: 2,
 839: 0,
 840: 1,
 841: 1,
 842: 1,
 843: 1,
 844: 1,
 845: 1,
 846: 0,
 847: 0,
 848: 0,
 849: 2,
 850: 1,
 851: 0,
 852: 0,
 853: 1,
 854: 0,
 855: 1,
 856: 2,
 857: 1,
 858: 0,
 859: 1,
 860: 0,
 861: 0,
 862: 0,
 863: 0,
 864: 1,
 865: 0,
 866: 0,
 867: 0,
 868: 0,
 869: 0,
 870: 0,
 871: 0,
 872: 1,
 873: 0,
 874: 0,
 875: 1,
 876: 0,
 877: 0,
 878: 0,
 879: 0,
 880: 0,
 881: 0,
 882: 0,
 883: 0,
 884: 2,
 885: 3,
 886: 0,
 887: 0,
 888: 0,
 889: 1,
 890: 0,
 891: 0,
 892: 0,
 893: 0,
 894: 0,
 895: 0,
 896: 0,
 897: 1,
 898: 0,
 899: 0,
 900: 0,
 901: 1,
 902: 0,
 903: 0,
 904: 0,
 905: 0,
 906: 1,
 907: 0,
 908: 2,
 909: 0,
 910: 0,
 911: 1,
 912: 1,
 913: 0,
 914: 0,
 915: 1,
 916: 0,
 917: 0,
 918: 1,
 919: 1,
 920: 1,
 921: 0,
 922: 0,
 923: 0,
 924: 0,
 925: 1,
 926: 0,
 927: 0,
 928: 0,
 929: 0,
 930: 0,
 931: 1,
 932: 1,
 933: 2,
 934: 0,
 935: 1,
 936: 0,
 937: 0,
 938: 0,
 939: 1,
 940: 0,
 941: 0,
 942: 0,
 943: 0,
 944: 0,
 945: 0,
 946: 0,
 947: 0,
 948: 0,
 949: 0,
 950: 2,
 951: 0,
 952: 0,
 953: 1,
 954: 0,
 955: 0,
 956: 0,
 957: 0,
 958: 1,
 959: 0,
 960: 0,
 961: 0,
 962: 0,
 963: 0,
 964: 1,
 965: 1,
 966: 1,
 967: 1,
 968: 1,
 969: 1,
 970: 0,
 971: 0,
 972: 0,
 973: 1,
 974: 0,
 975: 1,
 976: 0,
 977: 0,
 978: 0,
 979: 0,
 980: 0,
 981: 0,
 982: 1,
 983: 1,
 984: 0,
 985: 0,
 986: 0,
 987: 0,
 988: 0,
 989: 0,
 990: 1,
 991: 0,
 992: 2,
 993: 0,
 994: 0,
 995: 1,
 996: 0,
 997: 0,
 998: 1,
 999: 0,
 ...}

In [238]:
#Pruning of three frequent item set with min support count
infrqt_items=[]
min_sup=4
for key,value in threeitem_set.items():
    if value < min_sup:
        infrqt_items.append(key)
for key in infrqt_items:
    del threeitem_set[key]

In [239]:
#Final three frequent set
threeitem_set

{529: 4, 542: 4, 544: 4, 805: 4, 1015: 4, 1057: 4, 1181: 4, 1223: 4, 1265: 4}

In [242]:
dfThree=pd.DataFrame()
for index in threeitem_set.keys():
    row = three_df.loc[ [index] ,: ]
    dfThree=dfThree.append(row)

In [243]:
#Three frequent item set from FK-1*F1 method
dfThree

                     0                  1                  2
529         whole milk   other vegetables    root vegetables
542         whole milk   other vegetables                ham
544         whole milk   other vegetables  frozen vegetables
805         whole milk    root vegetables   other vegetables
1015        whole milk                ham   other vegetables
1057        whole milk  frozen vegetables   other vegetables
1181  other vegetables    root vegetables         whole milk
1223  other vegetables                ham         whole milk
1265  other vegetables  frozen vegetables         whole milk